   <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="email" id="login-email"/>
        <p class="message" id="login-email-status" style="margin: 0 0 0 0;"></p>

        <input type="password" placeholder="password" id="login-password"/>
        <p class="message" id="login-password-status" style="margin: 0 0 0 0;"></p>

        <button id="btn-login">login</button>
        <p class="message">Not registered?<a href="#">&nbsp;&nbsp;Create an account</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="helpHIW">Help</a></p>

        <p id="status" style="text-align: center; color:#FF69B4"></p>
        <p class="message"></p>
      </form>
      <form class="register-form" style="display: none;">
        <input type="text" placeholder="email address" id="signup-email"/>
        <p class="message" id="signup-email-status" style="margin: 0 0 0 0;"></p>

        <input type="text" placeholder="first name" id="signup-firstname"/>
        <p class="message" id="signup-firstname-status" style="margin: 0 0 0 0;"></p>

        <input type="text" placeholder="last name" id="signup-lastname"/>
        <p class="message" id="signup-lastname-status" style="margin: 0 0 0 0;"></p>

        <input type="password" placeholder="password" id="signup-password"/>
        <p class="message" id="signup-password-status" style="margin: 0 0 0 0;"></p>

        <input type="password" placeholder="confirm password" id="signup-confirm-password"/>
        <p class="message" id="signup-confirm-password-status" style="margin: 0 0 0 0;"></p>

        <button id="btn-signup">sign up</button>
        <p class="message">Already registered?<a href="#">&nbsp;&nbsp;&nbsp;Sign In</a></p>
      </form>
    </div>
  </div>