<button type="button" onclick="learnmore()" class="button" id="learnmore">Learn More!</button>
&nbsp;<a href="postyourfood">Post your food</pre></a>&nbsp;
&nbsp;<a href="signup-login/logout">Log Out</a>&nbsp;