<button type="button" onclick="learnmore()" class="button" id="learnmore">Learn More!</button>
&nbsp;<a href="signup-login?login=false">Sign Up</pre></a>&nbsp;
&nbsp;<a href="signup-login?login=true">Log In</a>&nbsp;