	    <div class="container-fluid">
	      <div class="col-md-12 portfolio-item" style="position: relative; text-align: center;">
        	<img src="images/noresultface.png" alt="no result" />
	      </div>
	      <div class="col-md-12 portfolio-itme" style="text-align: center; color:#666666;">
	        Oops, there seems to be nothing around you... yet!
	      </div>
	    </div>