<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chefbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet" />
    <link href="css/main.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  {{#if login}}
    {{> navbar-loggedin}}
  {{else}}
    {{> navbar}}
  {{/if}}
  <!-- Page Content -->
  <div class="container">
    <div class="container" id="msg-section">
    </div>
    <div class="container" id="control-section" style="padding: 100% 0 0 0;">
      <div class="footer" >
        <div class="form-group">
          <div class="input-group col-md-7" >
            <input id="keyword-search" type="text" class="form-control"  placeholder="write message here" style="text-align: center;"/>
            <div class="input-group-btn" role="group">
              <button class="btn btn-primary">send</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
<!--
<br>
<br>
<div id="wrapper">
  <div id="menu">
  </div>
     
  <div id="chatbox"></div>
     
  <form name="message" action="">
    <input name="usermsg" type="text" id="usermsg" size="63" />
    <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
  </form>
</div>
-->
  
  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  {{> googleAnalytics}}
</body>
</html>